.myModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.6) ;
    z-index: 5;
}

.myModalContent{
    padding: 10px;
    background-color: rgba(176, 204, 221, 1);
    border-radius: 25px;
    min-width: 200px;
}

.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}