*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    
}
body{
    min-width: 1345px;
    background-color: rgba(195, 217, 219, 1);
}
#root{
    display: flex;
    justify-content: center;

}

img{
    width: 75px;
    height: 75px;
    margin-right: auto;
    margin-left: auto;
}

h1{
    color: rgba(115, 115, 115, 1);
}

/*  */

.fileInput{
    margin-top: 5px;
    margin-bottom: 7px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}


.fileInputSpan{
    background: none;
    border: none;
    border-bottom: 3px solid rgba(64, 63, 67, 0.7);
    padding: 2px 10px;
    color: rgba(115, 115, 115, 1);
}

.fileInputSpan > label{
font-size: 16px;
    color: rgba(115, 115, 115, 1);
}

.fileInputSpan:hover{
    cursor: pointer;
    border-bottom: 3px solid rgba(115, 113, 122, 0.7);
}
.fileInputSpan > label:hover{
    cursor: pointer;
}

/*  */
.App{
    max-width: 1400px;
    min-width: 1345px;
}

.line{
    size: 5px;
    align-items: center;
    margin-top: 30px;
}

/* First */
.page{
    margin-left: auto;
    margin-right: auto;
    width: 1345px;
    height: 745px;
}

.navBar{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    max-width: 1315px;
    width: 1315px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    height: 65px;
    border-radius: 17px;
    background-color:rgba(130, 162, 162, 1);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 45px;
}

.navBar > p {
    font-weight: bold;
    color: rgba(39, 38, 67, 1);
}

.historyLink:hover{
    cursor: pointer;
    color: rgba(39, 38, 67, 0.59);
    /* color: rgb(200, 255, 210); */
    
}

.exitLink:hover{
    cursor: pointer;
    color: rgb(255, 200, 200);
    
}

.firsPageContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.contactLiAdmin:hover{
    cursor: pointer;
}

.mainText{
    width: 528px;
    height: 533px;
    margin-bottom: -20px;
}

.mainText > h1{
    font-size: 32px;
    color: rgba(39, 38, 67, 1);
}

.mainText > p{
    margin-top: 30px;
    font-size: 18px;
    color: rgba(60, 59, 103, 1);
    line-height: 125%;
}

.userList{
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    width: 410px;
    height: 605px;
    background-color: rgba(176, 204, 221, 1);
    border-radius: 25px;
    padding-top: 20px;
    text-align: center;
    margin-left: 60px;
   
}
.userList > h1{
    color: rgba(39, 38, 67, 1);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

.contactLi{
    width: 309px;
    height: 64px;
    border-radius: 12px;
    border: 2px solid rgba(123, 148, 155, 1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 5px;
    
}
.liFullname > p{
    color: rgba(39, 38, 67, 1);
    font-weight: 500;
    font-size: 18px;
}

.paginateContainer{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    max-width: 500px; 
    top: 300px ;

}
.pagination{
    color: rgba(79, 77, 116, 1);
    max-width: 200px;

   
    display: flex;
    flex-direction: row;
}


.pagination > li {
    list-style: none;
    color: rgba(79, 77, 116, 1);
}

.pagination > li > a,
.pagination > li > span {
    float: left;
    padding: 8px 15px;
    line-height: 1.5;
    border: 2px solid rgba(79, 77, 116, 0.3);
    margin-left: 2px;
    border-radius: 5px;
    color: rgba(79, 77, 116, 1);
}
  
.pagination > li.active > a {
    color: rgba(79, 77, 116, 1);
    background-color: rgba(93, 92, 117, 0.3);
    border-color: rgba(79, 77, 116, 1);
}

.pagination > li > a:hover {
    color: rgba(79, 77, 116, 1);
    background-color: rgba(93, 91, 123, 0.3);
    cursor: pointer;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    color: rgba(79, 77, 116, 1);
    margin-left: 0;
}

/* Second */

.secondPage{
    height: auto;
    padding: 20px 0px;
    text-align: center;
}

.secondPageContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.otherBlock{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color:rgba(176, 204, 221, 1);
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction:column;
    padding: 30px;
    align-items: center;
    justify-content: center;

}

.findBlock{
    position: relative;
    width: 312px;
    height: 284px;
}

.findBlock > h1{
    font-size: 24px;
    position: absolute;
    top: 0;
    margin-top: 50px;
}

.operationsBlock{
    position: relative;
    width: 312px;
    height: 305px;
    margin-top: 19px;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.5;
}

.operationsBlock > h1{
    font-size: 24px;
    position: absolute;
    top: 0;
    margin-top: 50px;
    display: "inline-block";
}


.operationsBlock > ul{
    margin-top: 15px;
}

.operationsBlock > ul > p{
    color: rgba(115, 115, 115, 1);

}


.foundContactBlock{
    position: relative;
    width: 442px;
    height: 611px;
}

.foundContactBlock h1{
    font-size: 24px;
    position: absolute;
    top: 0;
    margin-top: 90px;

}

.addBlock{
    position: relative;
    width: 390px;
    height: 611px; 
}

.addBlock > h1{
    position: absolute;
    top: 0;
    margin-top: 90px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;    
}

.addForm {
    display: flex;
    flex-direction:column;
    gap: 20px;
}

.editBlock{
    margin: 5px 0px 0px 0px;
    text-align: center;
    display: flex;
    flex-direction:column;
    padding: 25px;
    width: 370px;
    height: 350px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}



.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
}

.container > div > p {
    color: rgba(115, 115, 115, 1);
    width: 100%;
    font-size: 22px;
    margin-bottom: 10px;
}

input:first-child{
    width: 100%;
    background: transparent;
    border-radius: 6px;
    color: rgba(39, 38, 67, 1);
    padding: 1px 8px;
    margin: 5px, 0px;
    border: 1px solid rgb(255, 255, 255);
}



.footer{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 43px 95px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.5);
    width: 1350px;
    height: 260px;
    border-radius: 15px;
    background-color:rgba(130, 162, 162, 1);
}

.footerContent{
    color: rgba(115, 115, 115, 1);
    line-height: 50px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.textContent > p{
    color: rgba(115, 115, 115, 1);
}


.httpContainer{
    text-align: center;
}
.history{
    
    width: 400px;
    height: 500px;
    text-align: center;
    border-radius: 25px;
 
    overflow-x: hidden;
    overflow-y: auto;
}

.history > p{
    color: rgba(39, 38, 67, 1);

}


/*Chat  */

.support{
    color: rgba(39, 38, 67, 1);
    display: flex;
    margin-left: 50px;
    position: absolute;
    right: 0;
    bottom: 0px;
    margin-right: 130px;
    margin-bottom: 30px;
    z-index: 1000000;
}
.supportChat{
    width: 390px;
    height: 380px;
    border: 2px solid rgba(79, 77, 116, 1);
    background-color: rgba(130, 162, 162, 1);
    box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.supportChatContent{
    padding: 10px;
}

.supportDialog{
    overflow-x: hidden;
    overflow-y: auto;
    width: 350px;
    height: 300px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;   
}

.supportDialog::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }
  
  .supportDialog::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1em;
  }
  
  .supportDialog::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

.chatButton{
font-size: 10px;
}
.supportInteract{
    margin-top: 10px;
    display: flex;
    flex-direction:row;
    gap: 20px;
}
.supportButton{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: rgba(147, 147, 147, 1);
    border: 2px solid rgba(79, 77, 116, 1);
    text-align: center;
    padding-top: 32px;
    font-weight: bold;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
}

.supportButton:hover{
    cursor: pointer;
}


/*  */

.supportAdmin{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin-left: 500px;
    margin-top: 110px;
    width: 390px;
    height: 500px;
    background-color: #b1c4c9;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgba(79, 77, 116, 1);
}

.supportAdmin > p{
    margin-left: 280px;
 
}

.supportAdmin > p:hover{
    cursor: pointer;
 
}
.supportAdminContent{
 
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 450px;
    padding-top: 20px;
    background-color: #b1c4c9;
}

.userChatMessage{
    color: rgba(39, 38, 67, 1);
    width: 300px;
    height: 70px;
    padding-left: 20px;
    border: 2px solid rgba(79, 77, 116, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    
    gap: 20px;
    align-items: center;
}

.userChatMessage > p{
    color: rgba(39, 38, 67, 1);

}


.message{
    max-width: 90%;
    color: rgba(39, 38, 67, 1);
    display: inline-block;
    background-color: rgb(117, 146, 146);
    border-radius: 5px;
    padding: 7px 7px 7px 5px;
    margin-top: 5px;
}

.undefinedWrapper{
    
    margin-left: auto;
    text-align: right;


}
.messageValue{
display: flex;
align-items: end;
gap: 10px
}

.messageTime{
    color: rgba(39, 38, 67, 1);
    font-size: 10px;
}
.admin{
    background-color: rgb(128, 167, 191);
    margin-left: auto;
    text-align: left;
    padding: 7px 7px 7px 5px;
}

.adminWrapper{
    margin-right: auto;
    text-align: left;

}

.newMessage{
    /* background-color: red */
}

.userNotifications{
    margin-left: auto;
    margin-bottom: auto;
}

.hasNewMessage{
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    color: red;

}